<div>
<button class='btn btn-danger remove' data-id="{{restaurant.id}}">Remove</button>
</div>
<div>
<button class='btn btn-info show' data-id="{{restaurant.id}}">Show</button>
</div>
<div>
<button class='btn btn-warning edit' data-id="{{restaurant.id}}">Edit</button>
</div>
