<div>
<button class='btn btn-outline-success show' data-id="{{restaurant.id}}">Show</button>
<button class='btn btn-outline-info edit' data-id="{{restaurant.id}}">Edit</button>
<button class='btn btn-outline-danger remove' data-id="{{restaurant.id}}">Remove</button>
</div>
