@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('https://i.imgur.com/v9ibz8L.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Amiri', serif;
}

h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 5em;
  margin: 25px;
}

button {
  text-align: center !important;
  font-size: 1.1em !important;
  font-family: 'Zhi Mang Xing', cursive;
}

legend {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 1.5em;
}

input {
  margin: 10px;
  width: 12em;
  &.star {
    width: auto;
  }
}

form {
  margin: 20px;
  font-size: 1.5em;
  text-align: center;
  & .rating {
    text-align: left;
  }
}

main {
  @include make-container;
  @include make-container-max-widths;

  section {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    background: $white;
    border: 1px solid;
    margin: -1px;
    outline: none;
    padding: 1rem;
    font-size: 1.5em;
    background: #ebc8a6;

    p {
      margin-bottom: 0;
    }

    .btn {
      font-family: 'Amiri', serif;
      margin: 2px;
      font-size: 0.8em !important;
    }

  }

  .content {
    @include make-row;

  }
}

.rating {
  position: relative;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
  margin-top: 40px;
  justify-content: center;
  & input {
    display: none;
  }

  & label {
    cursor: pointer;
    display: block;
    width: 50px;
  }

  & label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    color: #101010;
  }

  & label:after {
    content: '\f005';
    font-family: fontAwesome;
    display: block;
    color: #ffcb00;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5)
  }
  & input:checked ~ label:after,
  label:hover:after,
  label:hover ~ label:after
  {
    opacity: 1;
  }

}

.checked {
  color: #ffcb00;
  text-shadow: 0 2px 5px rgba(0,0,0,.5)
}

#message,
#message-pw {
  font-size: 1.5em;
}
