@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('https://i.imgur.com/v9ibz8L.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Amiri', serif;
  text-align: center;
}

h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 5em;
  margin: 25px;
}

button {
  text-align: center !important;
  font-size: 1.1em !important;
  font-family: 'Zhi Mang Xing', cursive;
}

legend {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 1.5em;
}

input {
  margin: 10px;
  width: 10em;
}

form {
  margin: 20px;
  font-size: 1.5em;
}

main {
  @include make-container;
  @include make-container-max-widths;

  section {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    background: $white;
    border: 1px solid;
    cursor: pointer;
    margin: -1px;
    outline: none;
    padding: 1rem;
    font-size: 1.5em;
    background: #ebc8a6;

    p {
      margin-bottom: 0;
    }

    .btn {
      font-family: 'Amiri', serif;
      margin: 2px;
      font-size: 0.8em !important;
    }

  }

  .content {
    @include make-row;

  }
}

#message,
#message-pw {
  font-size: 1.5em;
}
